#accordion  {
	width: 335px;
	margin: auto;
	margin-top: 2rem;
}

.card {
	margin-bottom: 1rem;
	border: none;
}

.card-header {
	height: 30px;
	background-color: #FF6060;
	padding: 0;
}

.card-header:first-child {
	border-radius: 5px;
}

.accordion-btn {
	width: 100%;
	color: white;
	display: flex;
	justify-content: space-between;
	font-size: 13px;
	align-items: center;
}

.btn-link.focus, .btn-link:focus {
	text-decoration: none;
}

.btn-link:hover {
	color: white;
	text-decoration: none;
}

[data-toggle="collapse"] .fa:before {  
  content: "\f078";
}

[data-toggle="collapse"].collapsed .fa:before {
  content: "\f077";
}

.card-body {
	background-color: #F7F7F7;
	color: #FF6060;
	font-size: 12px;
}

@media all and (min-width: 1200px) {
	#accordion {
		width: 1023px;
	}

	.card-header {
		height: 47px;
	}

	.accordion-btn {
		font-size: 24px;
		font-weight: 500;
	}

	.card-body {
		font-size: 24px;
		font-weight: 400;
	}
}

