#accommodation-page .container {
	padding: 0;
}

#container-equipments {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

@media all and (min-width: 1200px) {
	#accommodation-page .container {
		max-width: 1240px;
		width: 100%;
		margin: 0;
	}

	#accommodation-page #accordion {
		width: 100%;
		display: flex;
		justify-content: space-between;
	}

	#accommodation-page .card {
		width: 582px;
		border-radius: 10px;
	}

	#accommodation-page .accordion-btn {
		font-size: 18px;
		height: 52px;
	}

	#accommodation-page .card-body {
		font-size: 18px;
	}
}