#accordion  {
	width: 335px;
	margin: auto;
	margin-top: 2rem;
}

.card {
	margin-bottom: 1rem;
	border: none;
}

.card-header {
	height: 30px;
	background-color: #FF6060;
	padding: 0;
}

.card-header:first-child {
	border-radius: 5px;
}

.accordion-btn {
	width: 100%;
	color: white;
	display: flex;
	justify-content: space-between;
	font-size: 13px;
	align-items: center;
}

.btn-link.focus, .btn-link:focus {
	text-decoration: none;
}

.btn-link:hover {
	color: white;
	text-decoration: none;
}

.btn-link .fa:before {  
  content: "\f078";
}

.btn-link.collapsed .fa:before {
  content: "\f077";
}

.card-body {
	background-color: #F7F7F7;
	color: #FF6060;
	font-size: 12px;
	list-style-type: none;
}

#accommodation-page .container {
	padding: 0;
}

@media all and (min-width: 1200px) {
	#accordion {
		width: 1023px;
	}

	.card-header {
		height: 47px;
	}

	.accordion-btn {
		font-size: 24px;
		font-weight: 500;
	}

	.card-body {
		font-size: 24px;
		font-weight: 400;
	}

/* description on individual page */
	#accommodation-page .container {
		max-width: 1240px;
		width: 100%;
		margin: 0;
	}

	#accommodation-page #accordion {
		width: 100%;
		display: flex;
		justify-content: space-between;
	}

	#accommodation-page .card {
		width: 582px;
		border-radius: 10px;
	}

	#accommodation-page .accordion-btn {
		font-size: 18px;
		height: 52px;
	}

	#accommodation-page .card-body {
		font-size: 18px;
	}
}

